@charset "UTF-8";

/* Para tablets */

@media screen and (min-width: 768px) and (max-width: 992px) {
    body, main{
        background-image: linear-gradient(to bottom, #036596, #5f2c82);
    }

    section#login{
        height: 320px;
        width: 80vw;
        font-size: 1.2em;
    }

    div#imagem{
        float: left;
        margin-bottom: 0px;
        width: 30%;
        height: 107%;
    }

    div#form{
        float: right;
        width: 70%;
        height: 200px;
    }

    input.pessoal{
        width: calc(100% - 60px);
    }

    input.botoes{
        padding: 10px;
    }
}

/* Para computador */

@media screen and (min-width: 992px) {
    body, main{
        background-image: linear-gradient(to bottom, #036596, #5f2c82);
    }

    section#login{
        height: 350px;
        width: 920px;
        font-size: 1.2em;
    }
    

    div#imagem{
        float: right;
        margin-bottom: 0px;
        width: 50%;
        height: 107%;
    }

    div#form{
        float: left;
        width: 50%;
        height: 400px;
    }

    input.pessoal{
        display: inline;
        width: calc(100% - 60px);
        height: 30px;
        border-radius: 0px 5px 5px 0px;
    }

    i.material-icons{
        font-size: 1.8em;
        background-color: #5f2c82;
        border-radius: 5px 0px 0px 5px;
    }

    input.botoes{
        padding: 10px;
    }
}

