@charset "UTF-8";

/* Config Geral das Media Queries */

/* Cores para utilizar:

Marrom: #1a1205
Azul quase ciano: #759798
Azul claro: #036596 
roxo: #5f2c82
*/

/*
Pequenas telas: até 600px
Celular: de 600px até 768px
tablet: 768 até 992px
Descktop: 992px até 1200px
Grandes telas: acima de 1200px
*/


*{
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    position: relative;
    width: 100vw;
    height: 100vh;

    background-color: #5f2c82;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    left: 50vw;
    top: 50vh;

    margin: auto;
    width: 250px;
    height: 460px;
    transform: translate(-50%, -50%);


    display: block;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;

    transition: width 1s, height 1s;
}

div#imagem{
    display: block;
    background-image: url('../imagens/estetica-login.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center right;
    height: 150px;
    max-width: 600px;
    margin: -10px -10px 15px -10px;
}

form > div.caixas{
    width: 100%;
    background-color: #5f2c82;
    border-radius: 15px;
    overflow: hidden;
}

h1{
    text-align: center;
}

p{
    text-align: justify;
    font-size: 0.9em;
    margin: 15px 0px 20px 0px;
}

div#password{
    margin-top: 5px;
}

i.material-icons{
    color: whitesmoke;
    background-color: #5f2c82;
    width: 30px;
    font-size: 2em;
    padding: 5px 0px;
}

input.pessoal{
    text-indent: 10px;
    display: inline;
    height: 30px;
    width: calc(100% - 49px);
    background-color: #759798;
    border: 2px solid #5f2c82;
    border-radius: 10px ;
    transform: translateY(-30%);
}

::-webkit-input-placeholder{
    color: rgb(197, 197, 197);
}

input.pessoal:hover{
    background-color: lightgray;
}

input.pessoal:focus-within{
    background-color: white;
}

input.botoes{
    display: block;
    padding: 10px;
    width: 100%;
}

input#submit{
    margin-top: 10px;
}

input#submit{
    margin-bottom: 5px;
    background-color: #759798;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
}

input#recuperar{
    background-color: white;
    border: 1px solid #5f2c82;
    border-radius: 10px;
}

input#recuperar:hover, input#submit:hover{
    background-color: lightgray;
}